<nav>
    <ul>
        <li><a href="{{ '/phantom.html' | relative_url }}">Home</a></li>
        <ul>
            <li><a href="{{ '/home.html' | relative_url }}">GT3 Season</a></li>
            <li><a href="{{ '/roster.html' | relative_url }}">Driver Profiles</a></li>
            <li><a href="{{ '/standings.html' | relative_url }}">Standings</a></li>
            <li><a href="{{ '/schedule.html' | relative_url }}">Schedule</a></li>
        </ul>
        <!-- Add other links as needed -->
    </ul>
</nav>