<nav>
    <ul>
        <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
        <ul>
            <li><a href="{{ '/gt3_season.html' | relative_url }}">GT3 Season</a></li>
            <li><a href="{{ '/gt3_roster.html' | relative_url }}">Driver Profiles</a></li>
            <li><a href="{{ '/gt3_standings.html' | relative_url }}">Standings</a></li>
            <li><a href="{{ '/gt3_schedule.html' | relative_url }}">Schedule</a></li>
        </ul>
        <li><a href="{{ '/tech.html' | relative_url }}">Tech Stuff</a></li>
        <ul>
            <li><a href="{{ '/tech_workflows.html' | relative_url }}">Workflows</a></li>
            <li><a href="{{ '/tech_stack.html' | relative_url }}">Tech Stack</a></li>
            <li><a href="{{ '/tech_process.html' | relative_url }}">Process</a></li>
            <li><a href="{{ '/tech_todos.html' | relative_url }}">Futures</a></li>
        </ul>
    </ul>
</nav>