<nav>
    <ul>
        <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
        <ul>
            <li><a href="{{ '/gt3_season' | relative_url }}">GT3 Season</a></li>
            <ul>
                <li><a href="{{ '/gt3_roster' | relative_url }}">Driver Profiles</a></li>
                <li><a href="{{ '/gt3_standings' | relative_url }}">Standings</a></li>
                <li><a href="{{ '/gt3_schedule' | relative_url }}">Schedule</a></li>
            </ul>
        </ul>
        <li><a href="{{ '/tech.html' | relative_url }}">Tech Stuff</a></li>
        <ul>
            <li><a href="{{ '/tech_workflows.html' | relative_url }}">Workflows</a></li>
            <li><a href="{{ '/tech_stack.html' | relative_url }}">Tech Stack</a></li>
            <li><a href="{{ '/tech_process.html' | relative_url }}">Process</a></li>
            <li><a href="{{ '/tech_racing_gear.html' | relative_url }}">Sim Gear</a></li>
            <li><a href="{{ '/tech_todos.html' | relative_url }}">Futures</a></li>
        </ul>
    </ul>
</nav>